/* ./resources/css/app.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Avalon;
    font-weight: 400;
    src: url(../fonts/avalon/Avalon_Regular.ttf)
}

@font-face {
    font-family: Avalon;
    font-weight: 600;
    src: url(../fonts/avalon/Avalon_Bold.ttf)
}

.image-post 
{
  width: 350px;
  height: 350px;
  object-fit: cover;
}